services:
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - "./front:/var/www"
      - /var/www/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    volumes:
      - "./back:/app"
    ports:
      - "80:80"
